<a href="#" class="logo">CIRDC</a>

<nav class="navC">
    <a href="#" class="nav_a">¿Que es CIRDC?</a>
    <a href="#" class="nav_a">Agrega Información</a>
    <a href="#" class="nav_a">Colabora</a>
</nav>