<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/documentos/registrar.css' />
        <link rel="stylesheet" href="/stylesheets/necolas.github.io_normalize.css_8.0.1_normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Almarai&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">CIRDC</a>
        </header>
    
        <form action="/documentos/ingresar" class="formC" method="post">
            <div class="form_div">
                <div class="form_div_div">
                    <h2 class="login">Ingresar Documento</h2>
    
                    <% if (error) { %>
                        <strong><%= error %></strong>
                        <br>
                    <% } %>

                    <label for="titulo">
                        <input type="text" name="titulo" id="titulo" class="input inname" placeholder="Título" required>
                    </label>
                    <br>

                    <label for="contenido" class="passLabel">
                        <textarea name="contenido" id="contenido" cols="30" rows="10" class="input inpass" required></textarea>
                    </label>
    
                    <button type="submit" class="loginButton">Crear Documento</button>
    
                    <button class="loginButton"><a href="/documentos">Cancelar</a></button>
                </div>
            </div>
        </form>
    </body>
</html>
