<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/documentos/registrar.css' />
        <link rel="stylesheet" href="/stylesheets/necolas.github.io_normalize.css_8.0.1_normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Almarai&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <%- include('../usuarios/header'); %>
        </header>
    
        <div class="formC">
            <div class="form_div">
                <div class="form_div_div">
                    <h2 class="login">Ingresar Documento</h2>
    
                    <% if (error) { %>
                        <strong><%= error %></strong>
                        <br>
                    <% } %>

                    <label for="imagen">
                        <input type="file" name="imagen" id="imagen" class="input inname" onchange="encodeImageFileAsURL(this)" required>
                    </label>

                    <label for="titulo">
                        <input type="text" name="titulo" id="titulo" class="input inname" placeholder="Título" required>
                    </label>
                    <br>

                    <label for="contenido" class="passLabel">
                        <input type="text" name="contenido" id="contenido" class="input inpass" placeholder="Contenido" required>
                    </label>
    
                    <button type="button" class="loginButton" onclick="formData()">Crear Documento</button>
    
                    <button type="button" class="loginButton"><a href="/documentos">Cancelar</a></button>
                </div>
            </div>
        </div>
    </body>

    <script>
        let imagen;

        async function formData() {
            const titulo = document.getElementById('titulo').value;
            const contenido = document.getElementById('contenido').value;

            console.log({
                titulo,
                contenido,
                imagen
            });

            const response = await fetch('/documentos/ingresar', {
                method: 'POST',
                mode: 'cors',
                // cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify({ titulo, contenido, imagen })
            });
        }

        function encodeImageFileAsURL(element) {
            let file = element.files[0];
            const reader = new FileReader();

            reader.onloadend = () => imagen = reader.result;
            reader.readAsDataURL(file);
        }
    </script>
</html>
